altgraph
APScheduler
asgiref
certifi
cffi
chardet
cryptography
Django
django-cors-headers
django-filter
django-utils-six
djangorestframework
djangorestframework-simplejwt
future
idna
pefile
psycopg2-binary
pycparser
PyInstaller
PyJWT
python-dateutil
pytz
requests
six
sqlparse
tzlocal
urllib3
